.circle{
    height: 700px;
    width: 700px;
    border-radius: 9999px; /*максимально скругляем углы*/
    border-color: aqua;
    background-image: url("https://polechudes.tv/images/baraban.png");
    background-position: center;
    background-size: cover;

    transition: 5s; /*колесо будет двигаться 5 секунд*/
    transition-timing-function: ease-in-out; /*через сколько времени можно его двигать*/
}

p{
    position: relative;
    left: 330px; /*чем выше пиксели, тем правее стрелочка. Надо установить её по центру над изображением*/
    font-size: 70px;
}